
#assortment{
    clear: both;
}
#categoriesList{
    display: inline-block;
    width: 220px;
    padding: 10px;
}
#categoriesList input[type='radio']{
    display: none;
}
#categoriesList input:checked+label>div{
    color: #2B2B2B;
    background: lightgray;
    border-radius: 3px;
}
.kind-wrap{
    width: 300px;
    height: 200px !important;
}
label>div{
    padding: 5px;
}
label div div{
    display: inline-block;
    float: right;
}
#categoriesList>form>label>div, #categoriesList>form>div{
    height: 30px;
    margin: 10px;
    color: darkgrey;
    font-weight: bold;
    font-size: 18px;
}
#categoriesList>form>label>div:hover {
    color: #2B2B2B;
}
#categoriesList .kind{
    color: darkgrey;
    font-weight: 600;
    margin-top: 20px;
}

#categoriesList>form>div:first-child,#categoriesList>div:first-child:hover{
    color: #2B2B2B;
    text-shadow: none;
    font-weight: bolder;
    border-bottom: 2px solid black;
    font-size: 19px;
}
#categoriesList>form>label>div>div{
    float: right;
}
#categoriesDivs{
    float: right;
    width: 900px;
    padding: 40px 0px;
}
#categoriesDivs .category{
    position: relative;
    display: inline-block;
    height: 210px;
    width: 180px;

    margin-bottom: 30px;
    margin-left: 30px;
}
#categoriesDivs .category img{
    height: 210px;
    width: 180px;
}
#categoriesDivs .category .categoryName{
    position: absolute;
    box-sizing: border-box;
    top: 120px;
    width: 180px;
    height: 60px;
    opacity: 0.7;
    background: ghostwhite;
    font-size: 15px;
    font-weight: bold;
    color: #2B2B2B;
    text-align: center;
    padding-top: 10px;
}
#categoriesDivs .category .categoryName>p{
    color: darkgrey;
    margin-top: 0px;
}
#categoriesDivs .category:hover .categoryName{
    background: #fcc229;
    opacity: 1;
}
#favourite-list{

    width: 1020px;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow-x: scroll;
    margin-bottom: 50px;
    box-shadow: 20px 0px 20px -5px lightgray inset, -10px 0 20px -5px lightgray inset;
}

::-webkit-scrollbar{
    height: 10px;
}

::-webkit-scrollbar-track {

    -webkit-border-radius: 10px;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#favourite-list .div-item{
    display: inline-block;
}
#sorting{
    text-align: right;
    margin-right: 20px;
}
#sorting p{
    font-size: 16px;
    font-weight: 600;
    color: #2B2B2B;
    margin-right: 200px;
}
#sorting select{
    float: right;
}

