#basket{
    padding: 30px;
    padding-left: 10px;
    padding-top: 0px;
    display: inline-block;
    margin-right: 30px;
    border-right: 1px solid gray;
    width: 800px;
}
h1{
    color: #2B2B2B;
}
table{
    border-collapse: collapse;
}
table td{
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
table td div{
    display: inline-block;
}

table tr:first-child td{
    font-size: 16px;
    font-weight: 600;
    color: gray;
    border-bottom: 3px solid gray;
}
table tr td{
    border-bottom: 1px solid gray;
}
table tr td .name{
    vertical-align: top;
    margin-top: 50px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.delete{
    vertical-align: top;
}


table tr .name{
    width: 250px;
}
table tr .price-per-one{
    width: 70px;
    padding-right: 5px;
}
table tr .price-per-stack{
    width: 80px;
    padding-left: 5px;
}
#order-form{
    width: 270px;
    float: right;
    font-size: 14px;
    font-weight: 600;
    color: #2B2B2B;
}
#order-form [type='submit']{
    color: gray;
    padding: 5px;
    border: 1px solid #2B2B2B;
}