.item-window{
    display: inline-block;
    float: right;
    position: relative;

    width: 800px;
    padding-bottom: 30px;

    margin-top: 40px;
    margin-bottom: 0px;
}
.item-window .item-info{
    width: 100%;

}
.info{
    width: 45%;
    margin-left: 5%;
}
.item-window .item-photo img{
    width: 360px;
    height: 480px;
    margin-left: 10px;
}
.item-window div{
    display: inline-block;
    vertical-align: top;
}
.info div{
    display: block;
    margin: 15px;
    margin-left: 20px;
}
.info .item-name{
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    color: #2B2B2B;
    border-bottom: 3px solid darkgrey;
    padding-bottom: 5px;
}
.info .item-price{
    font-size: 30px;
    font-weight: bolder;
    color: black;
}
.info .description{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.to-basket>button, .to-basket>div{
    display: inline-block;
}
.to-basket>form>button{
    background: #fcc229;
    margin: 15px;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    color: ghostwhite;
    font-weight: 600;
}
.choose-count{
    display: inline-block !important;
    width: 124px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.choose-count input{
    height: 36px;
    width: 36px;
    border: none;
    padding: 0px;
    text-align: center;
}
.choose-count input[type="number"]{
    -moz-appearance: textfield;
}
.cancel{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    width: 20px;
    height: 20px;
    background: url("../../resources/images/gtk-close.png") no-repeat;
    background-size: 20px;
}
#success{
    position: absolute;
    color: green;
    font-weight: 600;
    font-size: 26px;
    left: 50%;
    margin-left: -200px;
}
#more-info{
    margin-top: 10px;
    border-top: 2px solid lightgray;;
    display: inline-block;
    width: 800px;

}
#more-info .info-title{
    padding: 3px;
    text-align: center;
    display: inline-block;
    border: 2px solid lightgray ;
    border-top: 0px;
    width: 100px;
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#more-info .selected-title{
   background: lightgray;
}
#info-window{
display: block;
}
#info-window table{
    border-collapse: collapse;
}
#info-window table tr{
    font-size: 14px;
    color: #2B2B2B;
}
#info-window table td{
    border-bottom: 1px dotted gray;
    padding: 10px;
}
#info-window table td:first-child{
    width: 400px;
    font-weight: 600;
}
#info-window table td:last-child{
    width: 100px;
    font-weight: 500;
}
#comment-window{
    width: 760px;
    padding: 20px;
    padding-left: 0px;
    display: none;

}
#comment-window #new-comment{
    width: 720px;
    min-height: 100px;
    border: 1px solid lightgray;
    padding: 20px;
    font-size: 14px;
}
#new-comment #author-name+label{
    font-size: 16px;
    font-weight: 600;
    color: #2B2B2B;
}
#new-comment textarea{
    margin: 15px 0px;
    width: 100%;
    height: 100px;
}
#comments-list .comment .title span:first-child{
    font-size: 14px;
    font-weight: 600;
    color: #2B2B2B;
}
#comments-list .comment .title span:last-child{
    font-size: 14px;
    color: gray;
}
#comments-list .comment .text{
    font-size: 14px;
}
#comments-list .comment{
    width: 740px;
    border-bottom: 1px solid gray;
    padding: 10px;
}
